if SHIELD_TRACKPOINT_TEST

config ZMK_KEYBOARD_NAME
    default "TP Test"

config ZMK_POINTING
    default y

config INPUT
    default y

config I2C
    default y

config LOG
    default y

config INPUT_LOG_LEVEL
    default 4

endif
